/*Custom Fonts-------------------------------------*/

/*@import url('https://fonts.googleapis.com/css2?family=Raleway:ital@0;1&display=swap');*/
/*import from file*/
@font-face{
  font-family: Raleway;
  src: url('../media/fonts/Raleway.ttf');
}
@font-face{
  font-family: Raleway;
  src: url('../media/fonts/Raleway-Italic.ttf');
  font-style: italic;
}
/*Common CSS-------------------------------------*/
body{
    background: #EDEDED;
}

html{
  overflow-x: hidden;
}

h1{
    font-family: Raleway, Helvetica, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-size: 2em;
    text-align: center;
    color: rgb(33, 86, 199);
}

h2{
    font-family: Raleway, Times, serif;
    font-style: italic;
    font-size: 20px;;
    color: rebeccapurple;
    text-align: center;
}

h3{
    font-family: 'Times New Roman', arial, sans_serif;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    font-size: 17px;;
    color: black;
}
p{
  font-family: 'Raleway', arial, serif;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align:center;
  font-size: 20px;;
  color:rgb(212, 134, 16);
  padding-bottom: 15px;
  }

li{
  font-family: 'Raleway', arial, serif;
  font-size: 16px;
  color:  grey;
  padding-bottom: 15px;
}

th{
  font-family: 'Raleway';
  font-style: italic;
  font-size: 20px;
}

td{
  font-family: 'Raleway';
  font-size: 16px;
  padding: 10px;
}

button, a{
  font-family: 'Raleway';
}
img.logoIMG{
  width: 20%;
}

ul,ol{
  list-style-position: inside;
}


/*Line Break CSS---------------------------------------*/

hr.top {
   height: 12px;
   margin: 0 -10px;
   width:  101%;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
    
}

hr.other1 {
    border: 0;
    height: 0;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

hr.other {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
  

/*Header CSS---------------------------------------*/

header { grid-area: header; }



.logo{
  text-align:center;
  font-size:15px;

  
}



/*Nav CSS-------------------------------------------*/
    
.page_link{
    display: inline;
    border-radius: 10px;
    font-size: x-large;
    text-align:center;
    padding: 12px;
    margin-left:  10px;
    margin-right: 10px;
    margin-bottom: 20px;
    width: 100%;
    /*init color*/
    background:rgba(116, 202, 230);
    /*fade to new color on hover*/
    -webkit-transition-duration: 0.3s;
    transition: background 0.3s;  
}

.page_link a{
  text-decoration: none;
}
.page_link:hover{
    /*result color*/
    background:rgb(209, 230, 116);      
}


/*Index/Home CSS-------------------------------------------*/

#home_banner{
  margin-top: 10px;
  text-align:center;

}
#WondDesc p{
  text-align:center;
  font-size: x-large;
}
#WondDesc{
  width: 80%;
  margin: auto;
}

#home_banner img{
  margin-top: 20px;
  /*Drop Shadow effect*/
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}

#events{
  background-color:rgb(167, 224, 238);
  width: 90%;
  margin: auto;
  padding: 15px;
  text-align: center;
  border-radius: 10px;
}
#eventsTBL{
  margin: auto;
}




.Reg{
  background-color: #008ecc; 
  border: none;
  color: white;
  padding: 15px 32px;
  display: block;
  font-size: 16px;
  margin: auto;
  margin-bottom: 10px;
  text-align: center;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.Reg:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}


  /*Book your trip.html CSS-------------------------------------*/


.quick_ticket_info_section{
  background-color:rgb(230, 214, 216);
  text-align: center;
  position: relative;
  top: 10px;
  border-radius: 10px;
}
.quick_ticket_info_section button{
    background:rgb(0, 206, 209);
    text-align: center;
    color:black
}
ol{
  list-style-type: upper-roman;
}
#book{
  margin: auto;
}

/*VIDEO CSS*/

div#vid{
  width: 700px;
  height: 400px;
  position: relative;
  margin: auto;
  margin-top: 20px;
  /*set background to dark blue to not dust the image out when the opacity is low*/
  /*black too harsh, so dark blue fits better with the theme*/
  background-color: #000112;
  /*curved edges*/
  border-radius: 10px;
}

div#vid video{
  width: 700px;
  height: 400px;
  object-fit: fill;
  /*drop shadow*/
  box-shadow:  0 0 10px black;
  /*curved edges*/
  border-radius: 10px;
  /*create transition*/
  transition: opacity 1s ease-in-out;
  -webkit-transition-duration: 1s;
  /*set initial opacity*/
  opacity: 40%;
  
}

div#vid video:hover{
  /*final opacity*/
  opacity: 100%;
}




  /*See rides &attractions.html CSS-----------------------------------*/

  #rides{
    position: relative;
    top: 40px;
    background-color:rgb(167, 224, 238);
    padding: 15px;
    border-radius: 10px;
  }
  #rides button{
    width: 25%;
  }
  
  .rides th{
    font-family: "blackpearlblackpearl", Arial, sans-serif;
    text-align: center;

  }

  .rides  td{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
  }

  /*tooltip*/
div.tooltip img{
  display: inline-block;
  margin: 10px;
  width: 100%;
  height: 100%;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

  
  /*footer*/
  footer { grid-area: footer; }


footer
{
    background:gray;
    text-align: center;
    padding: 10px;
   
}

footer  p
{
    color: rgb(243, 243, 226);
    text-align: center;
    margin: auto;
    width:99%;
    
}

footer.footer_link
{
    margin: auto;
    text-align: center;
    color: rgb(243, 243, 226);
}
